.cat-card {
  height: 25rem;
  width: 25rem;
  position: relative;
}
.cat-img {
  height: 25rem;
  width: 25rem;

  z-index: 1;
}

.icon-container {
  height: 8rem;
  width: 8rem;
  position: absolute;
  right: 7px;
  bottom: 10px;
  z-index: 15;
}

.heart-icon {
  color: #f03e3e;
  height: 6rem;
  width: 6rem;
  position: absolute;
  right: 7px;
  bottom: 10px;
  z-index: 10;
  cursor: pointer;
}

.heart-icon:hover {
  fill: #f03e3e;
}
